#slider1 {
    height: 100px;
    background-size: cover
}

.progress-table .serial1 {
    width: 5%;
    padding-left: 20px;
  }
  .progress-table .name {
    width: 15%;
  }
  .progress-table .dateOfBirth {
    width: 10%;
  }
  .progress-table .phone {
    width: 10%;
  }
  .progress-table .email {
    width: 20%;
  }
  .progress-table .gender {
    width: 8%;
  }
  .progress-table .branch {
    width: 14%;
  }
  .progress-table .function {
    width: 18%;
    padding-right: 20px;
  }
  .progress-table .table-head {
    display: flex;
  }
  .progress-table .table-head .serial1,
  .progress-table .table-head .name,
  .progress-table .table-head .dateOfBirth,
  .progress-table .table-head .phone,
  .progress-table .table-head .email,
  .progress-table .table-head .gender,
  .progress-table .table-head .branch,
  .progress-table .table-head .function {
    color: #415094;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: flex;
  }
  .progress-table .table-head .serial1,
  .progress-table .table-head .name,
  .progress-table .table-head .dateOfBirth,
  .progress-table .table-head .phone,
  .progress-table .table-head .email,
  .progress-table .table-head .gender,
  .progress-table .table-head .branch,
  .progress-table .table-head .function  {
    display: flex;
    align-items: center;
  }
  
  .blog-pagination1 {
    margin-top: 20px;
  }
  .blog-pagination1 .page-link {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0 !important;
    color: #8a8a8a;
    border: 1px solid #f0e9ff;
    margin-right: 10px;
  }
  .blog-pagination1 .page-link i,
  .blog-pagination1 .page-link span {
    font-size: 13px;
  }
  .blog-pagination1 .page-item.active .page-link {
    background-color: #fbf9ff;
    border-color: #f0e9ff;
    color: #888888;
  }
  .blog-pagination1 .page-item:last-child .page-link {
    margin-right: 0;
  }
  /* .button-group-area1 .genric-btn {
    margin-right: 10px;
  } */
  /* .button-group-area1 .genric-btn:last-child {
    margin-right: 0;
  } */
  
  .progress-table .day {
    width: 30%;
    padding-left: 60px;
  }
  .progress-table .status {
    width: 30%;
  }
  .progress-table .numberCustomer {
    width: 40%;
    padding-right: 20px;
  }
  .progress-table .table-head {
    display: flex;
  }
  .progress-table .table-head .day,
  .progress-table .table-head .status,
  .progress-table .table-head .numberCustomer {
    color: #415094;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: flex;
  }
  .progress-table .table-head .day,
  .progress-table .table-head .status,
  .progress-table .table-head .numberCustomer  {
    display: flex;
    align-items: center;
  }
  
  .progress-table .date {
    width: 30%;
    padding-left: 60px;
  }
  .progress-table .name1 {
    width: 24%;
  }
  .progress-table .statusA {
    width: 24%;
  }
  .progress-table .numberCustomerA {
    width: 24%;
    padding-right: 20px;
  }
  .progress-table .table-head {
    display: flex;
  }
  .progress-table .table-head .date,
  .progress-table .table-head .name,
  .progress-table .table-head .statusA,
  .progress-table .table-head .numberCustomerA {
    color: #415094;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: flex;
  }
  .progress-table .table-head .date,
  .progress-table .table-head .name,
  .progress-table .table-head .statusA,
  .progress-table .table-head .numberCustomerA  {
    display: flex;
    align-items: center;
  }
  
  .thien_link{
    color: black;
  }
  
  .thien_link:hover{
    color: #d19f68;
  }

  #section {
    padding-top: 50px;
    padding-bottom: 100px
}

a, button {
  color:#d19f68;
  outline: medium none;
}

.long-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#table {
  table-layout: fixed;
  width: 100%;
}